<!-- views/partials/header.ejs -->
<!--  Partial for each page header-->

<!--  Nav bar markup -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:20px">
    <a class="navbar-brand" href="/">Construction App</a>
    <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <!--  for the collapsed navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--  List of navbar items -->
        <ul class="navbar-nav mr-auto" style="float:right !important;">
            <li class="nav-item">
                <a class="nav-link" href="/">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="CreateAccount">Register</a>
            </li>
        </ul>
    </div>
    <!--  Toggles the hamburger menu on and off based on the style attribute -->
    <script>
        document.getElementById('navbar-toggler').addEventListener("click", function enableHamburgDropdown(submission){

        let isVisible = document.getElementById('navbarSupportedContent').getAttribute('style');

        if (isVisible === 'display: inline !important;') {
            document.getElementById('navbarSupportedContent').setAttribute('style', 'display: none !important;');
        }
        else {
            document.getElementById('navbarSupportedContent').setAttribute('style', 'display: inline !important;');
        }
        
        });
    </script>
</nav>