<!-- views/pages/index.ejs -->
<!--  Doctype and head tags -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<!--  Header stub -->
<header>
    <%- include ('../partials/mainHeader') %>
</header>

<main>
    <!--  Primary div -->
    <div class="jumbotron">
        <h1>HOMEPAGE</h1>
        <p>
        	<a href="/Dashboard">Link to dashboard</a> while login is not yet implemented.
        </p>
    </div>
</main>

<!--  Footer stub -->
<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>